# SPDX-License-Identifier: LGPL-2.1-or-later

# Drop when https://github.com/systemd/particleos/pull/9 is merged

[Unit]
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

DefaultDependencies=no

Wants=first-boot-complete.target
Before=first-boot-complete.target sysinit.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemctl preset-all --global
